<Modal @ref="Modal" @bind-Identifier="ModalIdentifier">
    <Title>Nieuwe game toevoegen</Title>
    <Body>



    </Body>
    <Footer>
        <button type="button" class="btn btn-primary w-100" @onclick="AddGame">Toevoegen</button>
    </Footer>
</Modal>