.navbar {
  border: 2px solid black;
  position: relative; }
  .navbar .navbar-brand {
    font-size: 1.5rem; }
  .navbar .toggle-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 30px;
    border: none;
    background: black;
    color: white;
    font-size: 1.5rem; }

main {
  flex-grow: 1; }
