@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light">
    <button class="toggle-sidebar" @onclick="ToggleSidebar"><i class="fas fa-bars"></i></button>

    <div class="container-fluid justify-content-center">
        <a class="navbar-brand lobster" href="#">Sudoku</a>
    </div>
</nav>

<div class="d-flex">
    <div class="d-flex">
        @if (sidebarVisible)
        {
            <Sidebar />
        }
    </div>


    <main class="d-flex">
        <div class="p-3">
            @Body
        </div>
    </main>
</div>

@code {
    private bool sidebarVisible = true;

    void ToggleSidebar()
    {
        sidebarVisible = !sidebarVisible;
    }
}

