<CascadingValue Value="this">
    <div class="puzzle-container">
        <div class="puzzle">
            @for (var y = 0; y < 9; y++)
            {
                <div class="puzzle-row">
                    @for (var x = 0; x < 9; x++)
                    {
                        <PuzzleCell />
                    }
                </div>
            }
        </div>
    </div>
</CascadingValue>