@if (Cell != null)
{
    <div class="puzzle-cell @(IsSelected ? "active" : "")" @onclick="Select">
        <span class="help-numbers">@String.Join("", Cell.HelpNumbers)</span>
        <span class="final-number">@Cell.CurrentValue</span>
    </div>
}