// Spacings
$default-spacing: 20px;

.spacing { padding: $default-spacing; }
.spacing-top { padding-top: $default-spacing; }
.spacing-right { padding-right: $default-spacing; }
.spacing-bottom { padding-bottom: $default-spacing; }
.spacing-left { padding-left: $default-spacing; }
