@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light">
    <button class="toggle-sidebar" @onclick="() => Sidebar.Visible = !Sidebar.Visible"><i class="fas fa-bars"></i></button>

    <div class="container-fluid justify-content-center">
        <a class="navbar-brand lobster" @onclick="GoToHome">Sudoku</a>
    </div>
</nav>

<div class="d-flex">
    <div class="d-flex">
        <Sidebar @ref="Sidebar" />
    </div>

    <main class="d-block p-3">
        @Body
    </main>
</div>
